<?xml version="1.0"?>
<!--
/**
 * Meanbee_Postcode
 *
 * This module was developed by Meanbee Internet Solutions.  If you require any
 * support or have any questions please contact us at support@meanbee.com.
 *
 * @category   Meanbee
 * @package    Meanbee_Postcode
 * @author     Meanbee Internet Solutions <support@meanbee.com>
 * @copyright  Copyright (c) 2009 Meanbee Internet Solutions (http://www.meanbee.com)
 * @license    Single Site License, requiring consent from Meanbee Internet Solutions
 */
-->
<config>
	<modules>
		<Meanbee_Postcode>
			<version>2.0.3</version>
		</Meanbee_Postcode>
	</modules>
	
	<global>
		<models>
			<meanbee_postcode>
				<class>Meanbee_Postcode_Model</class>
			</meanbee_postcode>
		</models>
		<blocks>
			<meanbee_postcode>
				<class>Meanbee_Postcode_Block</class>
			</meanbee_postcode>

            <checkout>
                <rewrite>
                    <onepage_shipping>Meanbee_Postcode_Block_Checkout_Onepage_Shipping</onepage_shipping>
                    <onepage_billing>Meanbee_Postcode_Block_Checkout_Onepage_Billing</onepage_billing>
                </rewrite>
            </checkout>
		</blocks>
		
		<helpers>
			<meanbee_postcode>
				<class>Meanbee_Postcode_Helper</class>
			</meanbee_postcode>
		</helpers>
	</global>
	
	<frontend>
		<routers>
			<meanbee_postcode>
				<use>standard</use>
				<args>
                    <module>Meanbee_Postcode</module>
                    <frontName>postcode</frontName>
				</args>
			</meanbee_postcode>
		</routers>
		<layout>
			<updates>
				<meanbee_postcode>
                    <file>postcode.xml</file>
				</meanbee_postcode>
			</updates>
		</layout>
	</frontend>
    
    <admin>    
        <routers>
            <meanbee_postcode>
                <use>admin</use>
                <args>
                    <module>Meanbee_Postcode</module>
                    <frontName>postcode</frontName>
                </args>
            </meanbee_postcode>
        </routers>
    </admin>	
	
    <adminhtml>
        <layout>
            <updates>
                <meanbee_postcode>
                    <file>postcode.xml</file>
                </meanbee_postcode>
            </updates>
        </layout>

		<acl>
			<all>
				<title>Allow Everything</title>
			</all>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<postcode translate="title" module="postcode">
											<title>Address Finder Section</title>
										</postcode>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
</config>
